# Introducción a objetos
## Primeros objetos

La función que identifica el tipo de objeto es la función `type`

In [ ]:
type (1)

Las variables se escriben como sigue

In [2]:
num =5
saludo= "Hola, mundo!"

In [4]:
print(num)
print (saludo)

5
Hola, mundo!

In [7]:
type (num)

int

In [8]:
type (saludo)

str

In [9]:
# El siguiente código verifica si num y saludo son objetos iguales o diferentes.
# El resultado arroja un valor booleano.
type(num)==type(saludo)

False

In [11]:
# Convierte un int (entero) en flotante (con decimales)
float (num)

5.0

In [13]:
# Convierte un numero a un string
str (num)

'5'

In [15]:
num_s= str (num)

In [16]:
type(num_s) == type(saludo)

True

In [19]:
# Los indíces en python empiezan en 0.
# Vamos a mostrar los elementos de range (10)
for i in range(10): print (i)

0
1
2
3
4
5
6
7
8
9

Listas:
lista_1=[el0,....,eln]

In [20]:
lista_1=[1,"1",1.0,True, [2,3]]

In [21]:
print(lista_1)

[1, '1', 1.0, True, [2, 3]]

In [22]:
type(lista_1)

list

In [23]:
lista_2= [x for x in range (10)]

In [24]:
print (lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]